[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_BMP280_Library"]
	path = lib/Adafruit_BMP280_Library
	url = https://github.com/adafruit/Adafruit_BMP280_Library.git
